body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
main {
  background-color: #f7f7f7;
  width: 90%;
  max-width: 500px;
  height: auto;
  padding: 2em;
  margin: 2rem auto;
  border: none;
  border-radius: 8px;
  box-shadow: 10px 12px 33px 3px rgba(46, 45, 46, 0.71);
}

.formheader {
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.name input {
  width: 100%;
  border: none;
  padding: 8px;
  border-radius: 5px;
}
.email input {
  width: 100%;
  border: none;
  padding: 8px;
  border-radius: 5px;
}
.password {
  padding-bottom: 4vh;
}
.password input {
  width: 100%;
  border: none;
  padding: 8px;
  border-radius: 5px;
}
.submit {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.submit input {
  background-color: #1988ff;
  border: none;
  border-radius: 4px;
  padding: 5px;
  width: 5rem;
}
.submit input:hover {
  background-color: #0056b3;
}
footer {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
a {
  text-decoration: none;
}
